*{
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100px;
    padding: 0;
    background: #000000;
}

/* All navbar sections */
.search,
.homepage,
.inventory,
.logout {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: pink;
}

/* GROUPING FIXES */
.search {
    gap: 5px;
}

.inventory {
    gap: 5px;
}


/* Icons */
.icon {
    background: white;
    width: 30x;
    height: 25px;
    border-radius: 4px;
    object-fit: contain;
}


.searchInput {
    border: 1px solid #ddd;
    padding: 6px 8px;
    border-radius: 4px;
    width: 160px;
}


.link {
    text-decoration: none;
    color: #fbfbfb;
    font-weight: 600;
    font-size: 25px;
}

/* Logout button */
.logoutButton {
    padding: 8px 12px;
    border: none;
    background: #e74c3c;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.logoutButton:hover {
    background: #c0392b;
}
