.body{
    background-color: #df6262;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
    min-height: auto;
    height: auto;
}

.loomianCard{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    background-color: #ffffff;
}
.image{
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
}

.removeButtons{
    display: flex;
    gap: 20px;
}

.specificButton{
    padding: 7px;
    border: 1px solid transparent;
    background: #e74c3c;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.specificButton:hover {
    background: #c0392b;
}

.stats{
    padding: 10px;
}
