
.container {
    display: flex;
    max-width: 800px;
    margin: 40px auto;
    gap: 25px;
}

.leftSide {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #555fe9;
    padding: 25px;
    border: 1px solid transparent;
    border-radius: 25px;
}

.leftSide img {
    width: 260px;    
    max-height: 300px;
    object-fit: contain;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    border: 2px double black;
    border-radius: 10px;

}



.metaRow {
    width: 260px;        
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    font-weight: 600;
    padding: 10px;
    background-color: white;
    border: 2px double black;
    border-radius: 10px;
    
}

.description {
    width: 260px;        
    margin-top: 12px;
    line-height: 1.4;
    background-color: white;
    padding: 10px;
    border: 2px double black;
    border-radius: 10px;
}


.rightSide {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 16px;
    font-size: 16px;
    background-color: #555fe9;
    padding: 25px;
    border: 1px solid transparent;
    border-radius: 25px;
}

.statRow {
    display: flex;
    justify-content: start;
    font-weight: 600;
    padding: 15px;
    margin: 10px 0;
    background-color: #ffffff;
    width: 260px;
    gap: 10px;
    border: 2px double black;
    border-radius: 10px;
}

.statRow .value {
    color: #333;
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}